@import './base/mixin';
@import './base/variable';

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.in-transition {
    transition: transform 900ms ease;
  }
}

.button-long {
  width: 100%;
}

label {
  &:after {
    content: ': ';
  }
}

svg {
  margin-right: 5px;
}

header,
.header {
  background: $header-background-color;
}

nav,
.nav {
  background: $nav-background-color;
}

.time {
  span {
    color: grey;
    font-size: 12px;
  }
}

.tooltip-text {
  position: absolute;
  visibility: hidden;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

.duration-3 {
  @include duration(3s);
}

.duration-2 {
  @include duration(2s);
}

.duration-1 {
  @include duration(1s);
}

.delay-100 {
  @include delay(0.1s);
}

.delay-200 {
  @include delay(0.2s);
}

.delay-300 {
  @include delay(0.3s);
}
